
<div class="form-field" data-ng-if="type != 'submit' && type != 'textarea'">
    <label>{{ $parent.label | translate}}</label>
    <input data-ng-if="type != 'custom'"  data-ng-model="$parent.model" type="{{$parent.type}}">
</div>

<div class="form-field" data-ng-if="type == 'textarea'">
    <label>{{ $parent.label | translate}}</label>
    <textarea  data-ng-model="$parent.model"></textarea>
</div>


<div class="form-submit" data-ng-if="type == 'submit'">
    <input type="submit" value="{{ $parent.label | translate}}">
</div>