doctype html
html
  head
    script.
        var user  = !{JSON.stringify(user)};
    include head
    // routes
    script(src="javascripts/routes.js")

  body(class=(popup)?'popup':'',data-ng-app="app",data-ng-controller="main-controller",data-ng-class="bodyClass")

    aside
        script.
          function toggleMenu() {
              document.querySelector("aside").classList.toggle("open");

          }
        .menu-mobile#menu-mobile
          img.open.close(src='/images/icon-menu.svg',onclick="toggleMenu()")
          //img.close(src='/images/close-button-menu.svg',onclick='toggleMenu()')
        menu(data-source="'/api/user/menu'")


    main(data-ng-view,class="fade")

    lightbox(data-options="confirmDialog",data-ng-if="confirmDialog.open",class="fade-static")
      .options
        span.yes(data-ng-click="$parent.options.yes()") {{ 'yes' | translate}}
        span.no(data-ng-click="$parent.options.open = false") {{ 'no' | translate}}
